@model BinaShop.Core.Models.ProductCategory

@{
    ViewBag.Title = "Edit";
}
<head>
    <link rel=stylesheet type="text/css" href="~/Content/ProductManagerEdit.css">
</head>
<div class="btn-link" style="text-align:right">
    @Html.ActionLink("חזור לקטגוריות", "Index")
</div>
<h2>עריכת קטגוריה</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group" style="text-align:-webkit-center;">
            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10" style="width:fit-content;">
                @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="text-align:-webkit-center;">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="שמור" class="btn btn-full" style="background-color:#a3f5fa;" />
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
