<!DOCTYPE html >
<html lang="he" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>



    <link rel=stylesheet type="text/css" href="Vendors/Css/normalize.rtl.css">
    <link rel=stylesheet type="text/css" href="~/Content/038 Grid.css">
    <link rel=stylesheet type="text/css" href="~/Content/StyleSheet1.css">
    <link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">


    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <nav>

            <div class="row">
                <div class="logo">
                    <a href="/Home/Index"><img src="~/Content/Bina_Logo.png" style="height:67px;width:67px;margin-top:1px;" alt="לוגו הלוכדים של בינה" /></a>
                </div>

                <ul class="main-nav">
                    <li><a href="/Home/Products">לוכדי חלומות</a></li>
                    <li><a href="#">סדנאת לוכדי חלומות</a></li>
                    <li><a href="/ProductCategoryManager/Index">ניהול קטגוריות</a></li>
                    <li><a href="#">צור קשר</a></li>
                    <li><a href="/ProductManager/Index">מנהל</a></li>
                    <li><a href="#">התחבר</a></li>
                    <li><a href="#">הרשם</a></li>

                    @{
                        Html.RenderAction("BasketSummary", "Basket");

                    }
                </ul>
            </div>
        </nav>
    </header>
    <div class="container body-content">
        @RenderBody()

    </div>
    
      
    <div class="col-md-12 clearfix" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
