@model BinaShop.Core.Models.Order

@{
    ViewBag.Title = "Delete";
}
<div class="btn-link" style="text-align:right;">
    @Html.ActionLink("חזרה למוצרים", "Index")
</div>
<div class="container" style="text-align:-webkit-center;">
<h2>מחיקת הזמנה</h2>

<h3>האם אתה בטוח כי ברצונך למחוק הזמנה זו?</h3>

    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            ₪@Html.DisplayFor(model => model.Total)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="מחק" class="btn btn-danger" /> 
        </div>
    }
</div>
