@model IEnumerable<BinaShop.Core.Models.Order>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "ניהול הזמנות";
    }
<head>
    <style>
        ul.pagination {
            display: -webkit-inline-box;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    </style>
</head>
<div class="btn-link" style="text-align:right;">
    <a href="@Url.Action("Index", "Admin")">חזרה לעמוד ניהול</a>
</div>
<div class="container" style="text-align:-webkit-center;">
    <h2>הזמנות</h2>
    <table class="table table-responsive table-bordered" style="border:none;text-align:-webkit-center;max-width:830px;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th></th>
        </tr>

        
            @foreach(var Order in  ViewBag.OnePageOfOrders) { 
            <tr>
                <td>
                    @Order.CreatedAt
                </td>

                <td>
                    @Order.Email
                </td>

                <td>
                    @Order.OrderStatus
                </td>
                <td>
                    <a href="@Url.Action("UpdateOrder", "OrderManager", new { id = Order.Id })" class="delete"><ion-icon name="create"></ion-icon></a>
                    <a href="@Url.Action("Delete", "OrderManager", new { id = Order.Id })" class="delete"><ion-icon name="trash"></ion-icon></a>
                </td>
            </tr>
            }
        

    </table>
    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfOrders, page => Url.Action("Index", new { page }))
</div>