@model BinaShop.Core.ViewModels.ProductViewModel

@{
    /**/

    ViewBag.Title = Model.Name + " פרטים";
}

<head>

    <link rel=stylesheet type="text/css" href="~/Content/DetailsHome.css">
    <link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">

</head>
@foreach (var Banner in Model.ShopBanners.Where(x => x.Id == "feaf1d5a-4164-4bbd-a404-a89e0dd963a3"))
{
    <div class="sidenav1">
        <a href="@Banner.Link"><img src="~/Content/Banners/@Banner.Image" /></a>

    </div>
}
    <div class="container-fluid" id="containrf">
        <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12 col-12" id="maincol">
            <div class="row">

                <div class="col-lg-5 col-md-5 col-xl-5 col-sm-5 col-12" id="col2">
                    <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12 col-12" id="name">
                        <h5 id="h2">@Html.DisplayFor(model => model.Name)</h5>
                        <div class="dl-horizontal">

                            <div id="price">
                                ₪@Html.DisplayFor(model => model.Price)
                            </div>
                            <div id="order-btn"><a href="@Url.Action("AddToBasket", "Basket", new {  Id = Model.Product.Id})" class="btn btn-full" id="addtobasket"><ion-icon name="cart" id="carticon"></ion-icon>הוסף לסל</a></div>
                            <div id="description">
                                @Html.Raw(Model.Description.Replace(Environment.NewLine, "<br/>"))
                            </div>
                            <div class="accordion" id="accordionExample">
                                <div class="card" style="border: 0;border-top: 1px solid #DCBFB6;border-top-left-radius: 0;border-top-right-radius: 0;">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="title-card">
                                            <button class="btn-delivery " type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><ion-icon name="add" id="plus-icon"></ion-icon>
                                                תנאי משלוח
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="border: 0; border-top: 1px solid #DCBFB6;border-top-left-radius: 0;border-top-right-radius: 0;">
                                    <div class="card-header" id="headingTwo">
                                        <h2 class="title-card">
                                            <button class="btn-cancelation collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><ion-icon name="add" id="plus-icon"></ion-icon>
                                                החזרים וביטולים
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-lg-7 col-md-7 col-xl-7 col-sm-7 col-12" id="col1">
                    <a id="backto" href="@Url.Action("Products", "Home")">חזרה לכל הדגמים<ion-icon name="arrow-round-back"></ion-icon></a>

                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            @{
                                var first = true;
                            }
                            @foreach (var photo in ViewBag.product.Photos)
                            {
                                <div class="carousel-item @(first?Html.Raw("active"):Html.Raw(""))">
                                    <img class="d-block w-100" src="~/Content/ProductsGallery/@ViewBag.product.Id/@photo.ImageUrl" alt="@Model.Product.Name" style="height:400px;">
                                </div>
                                first = false;
                            }
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">הקודם</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">הבא</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>

           
    </div>

    <br />
    <br />
    <br />



    <div class="col-sm-12 clearfix" />
