@model BinaShop.Core.Models.Product

@{
    ViewBag.Title = Model.Name + "פרטים";
}

<head>
    <link rel=stylesheet type="text/css" href="Vendors/Css/normalize.rtl.css">
    <link rel=stylesheet type="text/css" href="~/Content/038 Grid.css">
    <link rel=stylesheet type="text/css" href="~/Content/DetailsHome.css">
    <link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">
    </head>
<div class="btn-link" style="text-align:right;">
    @Html.ActionLink("חזרה לדף הראשי", "Index")<br />
    </div>
<div class="btn-link" style="text-align:right;">
    @Html.ActionLink("חזרה למוצרים", "Products")
</div>
    
    
<div class="container" style="text-align:-webkit-center;">
    <h2>@Html.DisplayFor(model => model.Name)</h2>
    <div class="col-sm-2">
        <img class="img-fluid" src="~/Content/ProductImages/@Model.Image" />
    </div>
    <div class="col-sm-10">
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                ₪@Html.DisplayFor(model => model.Price)
            </dd>

            <dt></dt>
            <dd><a href="@Url.Action("AddToBasket", "Basket", new { Id = Model.Id })" class="btn btn-full">הוסף לסל</a></dd>

            <dt></dt>

        </dl>
    </div>

</div>

    <div class="col-sm-12 clearfix" />
