@model BinaShop.Core.Models.Product

@{
    ViewBag.Title = "הסרת מוצר";
}
<head>
    <link rel=stylesheet type="text/css" href="~/Content/ProductManagerDelete.css">
</head>
<div class="btn-link">
@Html.ActionLink("חזרה לעמוד הניהול", "Index")
</div>
<h2>הסרת מוצר</h2>

<h3 >האם אתה בטוח כי ברצונך להסיר מוצר זה?</h3>
<div class="del-con">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="הסר מוצר" class="btn btn-default"/>

        </div>
    }
</div>
