@model IEnumerable<BinaShop.Core.Models.Product>

@{
    ViewBag.Title = "עמוד ניהול";
}
<head>
    <link rel=stylesheet type="text/css" href="~/Content/ProductManagerIndex.css">
</head>
<h2>עמוד ניהול</h2>

<a class="btn btn-ghost" href="/ProductManager/Create">הוספת מוצר</a>

    <table class="table-responsive">
        <thead class="thead" >

            <tr>
                <th scope="col">
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Name)
                </th>

                <th scope="col">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                
                <th></th>

            </tr>

    </thead>
        
@foreach (var item in Model) {
    <tr>
        <td scope="col">
            <img class="img-thumbnail" style="height:50px;" src="~/Content/ProductImages/@item.Image"/>
        </td>
        <td scope="col">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td scope="col">
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td scope="col">
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td scope="col">
            @Html.DisplayFor(modelItem => item.Category)
        </td>
       
        <td scope="col">
            @Html.ActionLink("ערוך מוצר", "Edit", new { id=item.Id }) |
            @Html.ActionLink("הסר מוצר", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
