@model IEnumerable<BinaShop.Core.Models.Product>

@{
    ViewBag.Title = "עמוד ניהול";
}
@using PagedList.Mvc;
@using PagedList;
<head>
    <link rel=stylesheet type="text/css" href="~/Content/ProductManagerIndex.css">
    <style>
        ul.pagination {
            display: -webkit-inline-box;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        button.btn-full {
            margin-left: auto;
            margin-right: auto;
        }
        table.center.table-bordered {
            margin-left: auto;
            margin-right: auto;
        }
        td{
            padding:10px;
        }
    </style>
</head>
<div class="btn-link" style="text-align:right;">
    <a href="@Url.Action("Index", "Admin")">חזרה לעמוד ניהול</a>
</div>
<div class="container" style="text-align:center;overflow-x:auto;">
    <h2>עמוד ניהול מוצרים</h2>

    <a class="btn btn-full" href="/ProductManager/Create" style="margin-bottom:25px;">הוספת מוצר</a>

    <table class="center table-bordered" style="text-align:center;">
        <thead class="thead">

            <tr>
                <th scope="col">
                    תמונה:
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Name)
                </th>

                <th scope="col">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Category)
                </th>

                <th></th>

            </tr>

        </thead>

        @foreach (var product in ViewBag.OnePageOfProducts)
        {
            <tr>
                <td scope="col">
                    <img class="img-thumbnail" style="height:50px;" src="~/Content/ProductImages/@product.Image" />
                </td>
                <td scope="col">
                    @product.Name
                </td>
                <td scope="col">
                    @Html.Raw(product.Description.Replace(Environment.NewLine, "<br/>"))
                </td>
                <td scope="col">
                    @product.Price₪
                </td>
                <td scope="col">
                    @product.Category
                </td>

                <td scope="col">
                    <a href="@Url.Action("Edit", "ProductManager", new { id = product.Id })" class="edit"><ion-icon name="clipboard"></ion-icon></a>
                    <a href="@Url.Action("Delete", "ProductManager", new { id = product.Id })" class="delete"><ion-icon name="trash"></ion-icon></a>
                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index", new { page }))
</div>

