@model IEnumerable<BinaShop.Core.ViewModels.BasketItemViewModel>

@{
    /**/

    ViewBag.Title = "סל קניות";
    int count = 1;
}
<head>
    <link rel=stylesheet type="text/css" href="~/Content/basketindex.css">
    <style>
        .ajaxbg {
            position: absolute;
            width: 80%;
            height: 100%;
            background: #fff;
            display: none;
            z-index: 1;
        }

            .ajaxbg span {
                position: absolute;
                top: 30%;
                left: 50%;
            }

        form.paypalform {
            display: none;
        }
    </style>
</head>
<div class="jumbotron jumbotron-fluid" id="background">
    <div class="container" id="c1">
        <h2>סל מוצרים</h2>
        <div class="container" id="c2">

           
            <table class="table table-responsive" id="tblcheckout">
                <tr>
                    <th>

                    </th>
                    <th>
                        מוצר
                    </th>
                    <th>
                        כמות
                    </th>
                    <th>
                        מחיר
                    </th>
                    <th>
                        סך הכל
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>

                        <td id="tdimg"><img class="img-thumbnail" src="~/Content/ProductImages/@item.Image" /></td>

                        <td id="td1">
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td id="td2">
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>

                        <td id="td3">
                            @String.Format(ViewBag.il, "{0:c}", item.Price)
                        </td>
                        <td id="td4">
                            @String.Format(ViewBag.il, "{0:c}", item.Price * item.Quantity)
                        </td>
                        <td id="td5">
                            <a href="@Url.Action("RemoveFromBasket", "Basket",new {id=item.Id })" class="delete"><ion-icon name="trash"></ion-icon></a>

                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-sm-12" id="wrapper">
            <div class="row">

                <div class="col-sm-8" id="sah">סך הכל:</div>
                <div class="col-sm-4" id="total">@String.Format(ViewBag.il, "{0:c}", (from p in Model select p.Price * p.Quantity).Sum())</div>
            </div>
        </div>
        <div class="col-sm-12" id="wrapper1">
            <div class="row">
                <span class="col-sm-2"></span>
                <div class="col-sm-5">
                    <p id="punder">
                        הדרך הנוחה והבטוחה ביותר לתשלום<br />
                        לחצו על הכפתור, התחברו לחשבון שלכם<br />
                        והשלימו את תהליך התשלום!
                    </p>
                </div>
                <div class="col-sm-5" id="paypalunder"><a href="@Url.Action("Checkout", "Basket")"><img src="~/Content/Images/paypal-button@2x-d5ec2863.png" /></a></div>
            </div>
        </div>
    </div>

</div>
@section Scripts {



}
