@model BinaShop.WebUI.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "שינוי סיסמה";
}
<style>
    *{
        text-align:-webkit-center;
    }
    .form-control{
        text-align:right;
        border-radius:200px;
        max-width:280px;
        border:1px thin #AFD3D3;
    }
    .control-label{
        display:contents;
    }
</style>
<h2>שינוי סיסמה</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
<div class="card" style="max-width:400px;">
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-12">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "הקלד סיסמה נוכחית..." })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "בחר סיסמה חדשה..." })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" ,@placeholder="אשר סיסמה חדשה..."})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="שנה סיסמה" class="btn btn-full" style="color:#fff;background-color:#CC9999;border-radius:200px;" />
        </div>
    </div>
</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}