@using BinaShop.WebUI.Models
@model BinaShop.WebUI.Models.RegisterViewModel
@{
    ViewBag.Title = "הרשמה";
}
<link rel=stylesheet type="text/css" href="~/Content/Register.css">


<div class="jumbotron jumbotron-fluid" id="background" style="margin-bottom: 0px;
     background-image:url(/Content/Images/רקע.png);
        height: 180vh;
        width:100%;
        background-size: 100% 100%;
        z-index: -20;">
   
    <div class="container-fluid" style="text-align:-webkit-center;">
        

            <div class="card" id="cardReg">
                <p style="font-size:10px;text-align:right;color:red;">*שדות המסומנים בכוכבית- שדות חובה</p>
                <h6 style="text-align:center;padding-top:0px;color:#3a52c6;">
                    הרשם
                </h6>
                
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" id="facewrapper" style="text-align:-webkit-center;">
                        <section id="socialLoginForm" style="padding-top:22px;">
                            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                        </section>
                    </div>

                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="row" style="text-align:center;font-size:12pt;">
                                <span class="span-3-of-12" id="span" style="margin-left:25px;"></span>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-2" id="person" style="margin-top:3px;padding:0px 0px 0px 0px;background-color:transparent">
                                    <ion-icon name="person" style="color:#fff;"></ion-icon>
                                </div>
                                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-10" id="inputs" style="padding:0px 0px 0px 0px;">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control1", @placeholder = "*הקלד דואר אלקטרוני..." })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row" style="text-align:center;font-size:12pt;">
                                <span class="span-3-of-12" id="span" style="margin-left:25px;"></span>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-2" id="person" style="margin-top:3px;padding:0px 0px 0px 0px;background-color:transparent">
                                    <ion-icon name="lock" style="color:#fff;"></ion-icon>
                                </div>
                                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-10" id="inputs" style="padding:0px 0px 0px 0px;">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control2", @placeholder = "*הקלד סיסמה..." })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row" style="text-align:center;font-size:12pt;">
                                <span class="span-3-of-12" id="span" style="margin-left:25px;"></span>
                                <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-2" id="person" style="margin-top:3px;padding:0px 0px 0px 0px;background-color:transparent">
                                    <ion-icon name="lock" style="color:#fff;"></ion-icon>
                                </div>
                                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-10" id="inputs" style="padding:0px 0px 0px 0px;">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control2", @placeholder = "*הקלד סיסמה בשנית..." })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" id="reg" class="btn btn-full" value="הרשם" style="display: inline-block !important;
        padding: 5px 15px !important;
        font-weight: 300 !important;
        font-size: 16px !important;
        text-decoration: none !important;
        border-radius: 200px !important;
        transition: background-color 0.2s, border 0.2s, color 0.2s !important;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4) !important;background-color: #376DB3 !important;
        border: none !important;
        color: #fff !important;
        margin-top:10px;" />
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>

                    }

                </div>


            </div>
        
    </div>
    
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
